force-app/main/default/flows/CommercialOnboardingOrchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Credit</name>
        <label>Credit?</label>
        <locationX>600</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>GMI_AM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Stage</targetReference>
            </connector>
            <label>Credit Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_5</name>
        <label>Document Extraction Status</label>
        <locationX>325</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Hedging</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_Mgr_Tasks</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hedging</name>
        <label>Hedging?</label>
        <locationX>600</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Stage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HedgingOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Compliance_Hedging</targetReference>
            </connector>
            <label>Hedging</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMC_Evaluation</name>
        <label>RMC Evaluation</label>
        <locationX>446</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>GMI_AM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMC_Committee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treasury</name>
        <label>Treasury</label>
        <locationX>600</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Stage_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Treasury_Setup</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <interviewLabel>CommercialOnboardingOrchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CommercialOnboardingOrchestration</label>
    <orchestratedStages>
        <name>Copy_2_of_Compliance_Hedging</name>
        <label>Compliance Hedging</label>
        <locationX>468</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Credit</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Copy_2_of_Establish_Hedging_Objective</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Establish Hedging Objective</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Copy_2_of_Compliance_Validate_LEI</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Validate LEI</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Copy_2_of_Compliance_Review_of_Documentation</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Review of Documentation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Credit_Stage</name>
        <label>Credit Stage</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>RMC_Evaluation</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Evaluate_Client</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Evaluate Client</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Update_Risk_Systems</name>
            <actionName>GenericAutoLaunched</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Evaluate_Client.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <label>Update Risk Systems</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>GMI_AM</name>
        <label>GMI + AM</label>
        <locationX>600</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Operational_Control_Report</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Master_Account_Data</name>
            <actionName>GenericAutoLaunched</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Master Account Data</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Adjust_Data_As_Needed</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Adjust Data As Needed</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Commission_Rate_Form_Broker_Code</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Commission Rate Form  + Broker Code</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Initial_Review_Acct_Setup</name>
        <label>Initial Review &amp; Acct Setup</label>
        <locationX>325</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Decision_5</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>FO_review</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>FO review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Client_Services_Review</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>FO_review.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Client Services Review</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Execute_Auto_AML</name>
            <actionName>GenericAutoLaunched</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Client_Services_Review.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <label>Execute Auto AML</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Client_Services_Review_AML</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Execute_Auto_AML.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <stringValue>recor</stringValue>
                </value>
            </inputParameters>
            <label>Client Services Review AML</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Account_Setup</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Account Setup</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Document_Extraction</name>
            <actionName>AddBrokerageTasks</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Execute_Auto_AML.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>orchId</name>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
            </inputParameters>
            <label>Document Extraction(IDP)</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Operational_Control_Report</name>
        <label>OCR / Market Risk</label>
        <locationX>600</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Treasury</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Step_1_of_Operational_Control_Report</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Step 1 of OCR / Market Risk</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Relationship_Mgr_Tasks</name>
        <label>Relationship Mgr Tasks</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Initial_Review_Acct_Setup</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Upload_New_Documents</name>
            <actionName>Add_Person_to_Account</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.ParentId</elementReference>
                </value>
            </inputParameters>
            <label>Upload New Documents</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>RMC_Committee</name>
        <label>RMC Committee</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>GMI_AM</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>RMC_Decision</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <stringValue>{!$Record.Id}</stringValue>
                </value>
            </inputParameters>
            <label>RMC Decision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_2</name>
        <label>Compliance</label>
        <locationX>732</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Credit</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Compliance_Validate_LEI</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Validate LEI</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Compliance_Review_of_Documentation</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Compliance Review of Documentation</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_9</name>
        <label>Trade Platform Setup</label>
        <locationX>600</locationX>
        <locationY>1919</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Trade_Platform_Setup</name>
            <actionName>GenericAutoLaunched</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Trade Platform Setup</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Treasury_Setup</name>
        <label>Treasury Setup</label>
        <locationX>468</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Stage_9</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Setup_Bank_Instructions</name>
            <actionName>GenericFlow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>mwexler@stonexclm.demo</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Setup Bank Instructions</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Review_Acct_Setup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
